 body {}
 body.index  {
  background-color: rgb(3, 63, 3);
   text-align: center;
  color: greenyellow;
  font-family: Verdana, Geneva, Tahoma, sans-serif;}


body.identity-values{
  background-color: rgb(238, 99, 180);
   text-align: center;
  color: rgb(53, 11, 53)
  font-family: Verdana, Geneva, Tahoma, sans-serif;}
  body.index  {
  background-color: rgb(3, 63, 3);
   text-align: center;
  color: greenyellow;
  font-family: Verdana, Geneva, Tahoma, sans-serif;}
 }


.boxed {border: 5px solid black; border-radius: 20%; }
.boxed-link {border: 20px solid rgb(53, 11, 53); width: 50px; height: 20px; }
.smaller-image {width: 200px; border: 20px, black; border-style: solid; border-radius: 20%;}
.space { display: inline-block;
  padding: 5px;
  border: 1px solid none;
}
.flex-container {
  display: flex;
  flex-direction: column;
}






